@{ 
    Layout = null;
}

@model IEnumerable<PortfolioAssignment.Models.Post>

@if (Model.Any())
{
    @foreach (var post in Model)
    {
        <div class="card card-body">
            <h4 class="card-title">@post.PostDate</h4>
            <p>@post.Content</p>
            <p><a href="/Posts/Details/@post.PostId">Comments</a></p>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <a href="/Posts/Edit/@post.PostId" class="btn btn-success">Edit This Post</a>
                    </div>
                    <div id="deletePosts" class="col-sm-4">
                        <form action="/Posts/Delete" method="post">
                            <input type="hidden" name="postId" value="@post.PostId" />
                            <button class="btn btn-danger" type="submit">Delete This Post</button>
                        </form>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    <div class="card card-body">
        <h4>Check back later, there aren't any posts yet!</h4>
    </div>
}