@{
    ViewData["Title"] = "Blog";
}
@model IEnumerable<PortfolioAssignment.Models.Post>

<script type="text/javascript">
    $.ajax({
        type: 'GET',
        datatype: 'html',
        url: '@Url.Action("AllPosts")',
        success: function (result) {
            $('#result').html(result);
        }
    });
</script>

<br />
<h3>Welcome to My Blog</h3>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <div class="card card-body">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <form action="/Posts/Create" method="get">
                    <button class="btn btn-primary">Create Post</button>
                </form>
            </div>
            <div class="col-sm-4">
                <form action="/Posts/DeleteAll" method="post">
                    <button class="btn btn-danger">Delete All Posts</button>
                </form>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

}

<div id="result"></div>


