@{
    ViewData["Title"] = "About";
}
<br />
<h2>@ViewData["Title"] Me</h2>
<br />
<h4><i>What are your goals?</i></h4>
<p>I want to increase my skills with Angular and .Net in regards to web development. Also, I'm working on picking up Python for its use in machine learning and data science.</p>
<br />
<h4><i>Why did you get into coding?</i></h4>
<p>At the base of who I am, I'm a problem solver. Working on a difficult problem and learning something new or solving the problem outright is what brings me back to coding each day. Plus, learning C# gives me the opportunity to work in Unity to make games.</p>
<br />
<h4><i>What are your other interests?</i></h4>
<p>Woodworking, video games, hiking, cooking, and learning!</p>

