@{
    ViewData["Title"] = "Contact";
}
<br />
<h2>@ViewData["Title"]</h2>

<address>
    Alphabet Distrcit<br />
    Portland, OR 97210<br />
    P: 949.874.7568 <br />
    W: <a href="http://www.stephaniefaber.net">stephaniefaber.net</a>
</address>

